{% comment %} {% extends "index.html" %}

{% block content %}
  <div class="container">
    <h2>Password Reset Complete</h2>
    <p>Your password has been successfully reset. You can now <a href="{% url 'unixapp' %}">log in</a> with your new password.</p>
  </div>
{% endblock %}
 {% endcomment %}
 from django.http import HttpResponseRedirect
 from django.urls import reverse
 
 def password_reset_complete(request):
     # After the password reset is complete, redirect to the desired URL
     return HttpResponseRedirect('https://unix-aquatics.com/unixapp/')
 