<!DOCTYPE html>
<html>
  {% load static %}

  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="{% static 'landpageapp/images/favicon.png' %}" type="image/png">
  
    <title> Unix Aquatics </title>
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'landpageapp/css/bootstrap.css' %}" />
  
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  
    <!-- owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  
    <!-- font awesome style -->
    <link href="{% static 'landpageapp/css/font-awesome.min.css' %}" rel="stylesheet" />
  
    <!-- Custom styles for this template -->
    <link href="{% static 'landpageapp/css/style.css' %}" rel="stylesheet" />
  
    <!-- responsive style -->
    <link href="{% static 'landpageapp/css/responsive.css' %}" rel="stylesheet" />
  </head>
  
  <body class="sub_page">

    <div class="hero_area">
  
      <div class="hero_bg_box">
        <div class="bg_img_box">
          <!-- Use the static tag for the hero image -->
          <img src="{% static 'landpageapp/images/hero-bg.png' %}" alt="">
        </div>
      </div>
  <!-- header section starts -->
<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" href="home">
        <span>
          Unix Aquatics
        </span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""> </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <!-- Update href to root URL -->
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="about">About <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/privacy">Privacy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/support">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://unix-aquatics.com/admin">
              <i class="fa fa-user" aria-hidden="true"></i> ADMIN Login
          </a>
          <form class="form-inline">
            <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- end header section -->



 <!-- about section -->
 <section class="about_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        About <span>Us</span>
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <!-- Static image link -->
          <img src="{% static 'landpageapp/images/asd.jpg' %}" alt="About Us Image">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <h3>Unix Aquatics</h3>
          <p>Unix Aquatics is a leading provider of aquatic products and services, dedicated to promoting the joy and benefits of aquatic activities.</p>
          <h3>Our Vision</h3>
          <p>Our vision is to create a world where everyone has access to safe and enjoyable aquatic experiences, fostering a healthier and happier community.</p>
          <h3>Our Mission</h3>
          <p>Our mission is to deliver top-quality aquatic products and services, provide comprehensive education and support, and advocate for the importance of aquatic activities for physical and mental well-being.</p>
          <a href="#">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about section -->
  

{% comment %}   
<!-- about section -->

<section class="about_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        About <span>Us</span>
      </h2>
      <p>
        Magni quod blanditiis non minus sed aut voluptatum illum quisquam aspernatur ullam vel beatae rerum ipsum voluptatibus
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <!-- Use the static tag for the about image -->
          <img src="{% static 'landpageapp/images/about-img.png' %}" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <h3>
            We Are Finexo
          </h3>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour, or randomised words which don't look even slightly believable. If you
            are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
            the middle of text. All
          </p>
          <p>
            Molestiae odio earum non qui cumque provident voluptates, repellendus exercitationem, possimus at iste corrupti officiis unde alias eius ducimus reiciendis soluta eveniet. Nobis ullam ab omnis quasi expedita.
          </p>
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

  {% endcomment %}

<!-- info section -->

<section class="info_section layout_padding2">
  <div class="container">
    <div class="row">
      <!-- Contact Information Column -->
      <div class="col-md-6 col-lg-3 info_col">
        <div class="info_contact">
          <h4>Contact Us</h4>
          <div class="contact_link_box">
            <a href="https://goo.gl/maps/XYZ123" target="_blank">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>123 Ocean Avenue, Aquatic City, AQ 54321</span>
            </a>
            <a href="tel:+01234567890">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>Call +01 234 567 890</span>
            </a>
            <a href="mailto:contact@unixaquatics.com">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>contact@unixaquatics.com</span>
            </a>
          </div>
        </div>
        <div class="info_social">
          <a href="https://www.facebook.com/UnixAquatics" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/UnixAquatics" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/company/unixaquatics" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/unixaquatics" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      
      <!-- Company Information Column -->
      <div class="col-md-6 col-lg-3 info_col">
        <div class="info_detail">
          <h4>About Unix Aquatics</h4>
          <p>
            Unix Aquatics is dedicated to providing sustainable aquatic solutions for homes and businesses. From aquariums to water filtration systems, we help you create the perfect aquatic environment. Our expert team offers top-tier products and services, ensuring the health and beauty of your aquatic space.
          </p>
        </div>
      </div>

      <!-- Quick Links Column -->
      <div class="col-md-6 col-lg-2 mx-auto info_col">
        <div class="info_link_box">
          <h4>Quick Links</h4>
          <div class="info_links">
            <a class="active" href="index.html">Home</a>
            <a href="about.html">About Us</a>
            <a href="services.html">Services</a>
            <a href="support.html">Support</a>
            <a href="team.html">Meet the Team</a>
          </div>
        </div>
      </div>

    </section>

    <!-- end info section -->
    
     





<!-- footer section -->
<section class="footer_section">
  <div class="container">
    <div class="row">
      <!-- Footer Column 1: About Us -->
      <div class="col-md-4">
        <h3><strong>KOOMANS</strong></h3>
        <div class="footer_about">
          <p style="text-align: justify;"><stron>We</strong> bring innovation to life. As a dynamic IT startup, Koomans is dedicated to transforming the way technology interacts with everyday challenges. Founded on the principles of creativity, collaboration, and cutting-edge solutions, we specialize in developing tailored IT products and services designed to empower businesses and enhance user experiences.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer_contact">
          <h5>Contact Us</h5>
          <h6 style="margin-bottom: 5px;">
            <strong>Phone:</strong> +123 456 7890
          </h6>
          <h6 style="margin-bottom: 5px;">
            <strong>Email:</strong> info@company.com
          </h6>
          <h6 style="margin-bottom: 5px;">
            <strong>Address:</strong> 1234 Main St, City, Country
          </h6>
        </div>
      </div>
      
      <!-- Footer Column 3: Social Media Links -->
      <div class="col-md-4">
        <div class="footer_social">
          <h5>Follow Us</h5>
          <a href="https://facebook.com" target="_blank">
            <i class="fa fa-facebook"></i> Facebook
          </a>
          <a href="https://twitter.com" target="_blank">
            <i class="fa fa-twitter"></i> Twitter
          </a>
          <a href="https://linkedin.com" target="_blank">
            <i class="fa fa-linkedin"></i> LinkedIn
          </a>
          <a href="https://instagram.com" target="_blank">
            <i class="fa fa-instagram"></i> Instagram
          </a>
          <a href="https://youtube.com" target="_blank">
            <i class="fa fa-youtube"></i> YouTube
          </a>
        </div>
      </div>
    </div>

    <!-- Footer Copyright -->
    <div class="footer_copy">
      <p>&copy; <span id="displayYear"></span> All Rights Reserved By <a href="https://yourwebsite.com" target="_blank">Your Company Name</a></p>
    </div>
  </div>
</section>
<!-- end footer section -->


<!-- jQuery -->
<script type="text/javascript" src="{% static 'landpageapp/js/jquery-3.4.1.min.js' %}"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script type="text/javascript" src="{% static 'landpageapp/js/bootstrap.js' %}"></script>
<!-- owl slider -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- custom js -->
<script type="text/javascript" src="{% static 'landpageapp/js/custom.js' %}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->

</body>


</html>